$cor-primaria: #aa3939;
$cor-auxiliar-1: #226666;
$cor-auxiliar-2: #7A9F35;
$cor-auxiliar-2-darker: #567714;
$cor-fonte-primaria: #292b2c;
$cor-fonte-auxiliar: #eceeef;

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: $cor-fonte-primaria;
    background-color: $cor-fonte-auxiliar;
}

.cor-auxiliar-2-font {
    color: $cor-auxiliar-2 !important;
}

.cor-auxiliar-2-font:hover {
    color: $cor-auxiliar-2-darker;
}

.jumbotron {
    background-color: $cor-auxiliar-1;
    color: $cor-fonte-auxiliar;
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-primary {
    color: $cor-fonte-auxiliar;
    background-color: $cor-auxiliar-2;
    border-color: $cor-auxiliar-2;
}

.btn-primary:hover {
    color: $cor-fonte-auxiliar;
    background-color: $cor-auxiliar-2-darker;
    border-color: $cor-auxiliar-2-darker;
}

.btn-primary:focus {
    color: $cor-fonte-auxiliar;
    background-color: $cor-auxiliar-2;
    border-color: $cor-auxiliar-2;
}

.btn-outline-success {
    color: $cor-auxiliar-2;
    border-color: $cor-auxiliar-2;
}

.btn-outline-success:hover {
    color: $cor-auxiliar-2-darker;
    background-color: transparent;
    border-color: $cor-auxiliar-2-darker;
}

.form-control {
    color: #464a4c;
    background-color: $cor-fonte-auxiliar;
}

div.login {
    margin: 50px;
    margin-left: 40%;
    margin-right: 40%;
}

div.register {
    margin: 50px;
    margin-left: 40%;
    margin-right: 40%;
}

div.default-content {
    margin: 50px;
    margin-left: 40%;
    margin-right: 40%;
}

div.default-content-wide {
    margin: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

div.default-content-mega-wide {
    margin: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

img.logo {
    height: 42px; 
    width: 42px;
}

img.product-icon {
    height: 100px; 
    width: 100px;
}

table.table {
    background-color: white;
}

table.table th{
    background-color: $cor-auxiliar-2;
    color: white;
}