{{template "header" .}}
<div class="default-content-mega-wide">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Senha</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Apelido</th>
          </tr>
        </thead>
        <tbody>
          {{range $h := .levels}}
          <tr>
            <td>{{$h.login}}</td>
            <td>{{$h.password}}</td>
            <td>{{$h.name1}}</td>
            <td>{{$h.name2}}</td>
            <td>{{$h.surname}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
</div>
{{template "footer" .}}
