{{template "header" .}}
<div class="default-content-mega-wide">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>ID Usuário</th>
            <th>ID Produto</th>
            <th>Preço</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          {{range $h := .levels}}
          <tr>
            <td>{{$h.user_id}}</td>
            <td>{{$h.product_id}}</td>
            <td>{{$h.price}}</td>
            <td>{{$h.sell_date}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
</div>
{{template "footer" .}}
