{{define "bar"}}
<!--
<ul class="title-area">
  <li class="name"><h1><a href="/">Super Shop</a></h1></li>
  <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
</ul>

<section class="top-bar-section">
  <ul class="right">
    {{if .login}}
    <li><a href="/">{{.login}}</a></li>
    <li><a href="/logout">logout</a></li>
    {{else}}
    <li><a href="/login">login</a></li>
    <li><a href="/register">register</a></li>
    {{end}}
  </ul>

  <ul class="left">
    <li><a href="/products">products</a></li>
  </ul>
</section>-->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="/static/assets/ziguifryda_logo.png" alt="Ziguifryda" width="42" height="42">
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produtos</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
      <li class="nav-item">
        {{if .login}}
        <a class="nav-link" href="/logout">Logout</a>
        {{else}}
        <a class="nav-link" href="/login">Login</a>
        {{end}}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Nome do Produto">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
    </form>
  </div>
</nav>
{{end}}
