{{template "header" .}}
<div class="jumbotron rounded-bottom">
    <div class="container">
      <h1 class="display-3">Bem vindo, aventureiro!</h1>
      {{if .login}}
      <p>
          Procurando por uma nova caçada, porém faltando-lhe equipamentos? Encontre o armamento ideal para qualquer que seja sua aventura! 
      </p>
      {{else}}
      <p>
          Se esta é sua primeira viagem pelo fabuloso domínio de Arapuã, tome um pouco de seu tempo e junte-se a nós através de nosso mirabolante cadastro!
          Vantagens avassaladoras podem ser obtidas, garantindo uma jornada segura e de sucesso!
        </p>
        <p><a class="btn btn-primary btn-lg" href="/register" role="button">Cadastro »</a></p>
      {{end}}
      
    </div>
</div>

{{template "products" .}}

{{template "footer" .}}
