{{template "header" .}}
<div class="register">
  <form action="/register" method="post">
    <div class="row">
      <div class="col-12">
        <input type="text" placeholder="Usuário" name="login" value="{{.login}}"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="password" placeholder="Senha" name="password"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="password" placeholder="Confirmação da senha" name="repassword"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" placeholder="Nome" name="name1" value="{{.name1}}"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" placeholder="Sobrenome" name="name2" value="{{.name2}}"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" placeholder="Apelido" name="surname" value="{{.surname}}"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input class="btn btn-primary btn-sm" type="submit" value="Cadastrar" />
      </div>
    </div>
  </form>  
</div>
{{template "footer" .}}
